# zip()

# ZIP() function
                            looping technique
                    
                            It is used to combine 2 or more containers/iterables.
                            
                            It combine the values of containers till the smaller container exists.

In [1]:
l0 = [25,34,56,76,87]
l1 = [23,45,67,890,123]

In [2]:
zip(l0,l1)

### zip function returns a object  insted of giving values, this behaviour is called Lazy Evaluation.

### In object combined values are stored in form of tuple

### to access values from object, we iterate on it

In [5]:
name = ['sachin', 'ram', 'simran', 'ravi', 'priyanka']
age = [27, 30, 26, 25, 24]

In [10]:
 for i in zip (name,age):
    print('user_name',':',i[0])
    print('user_age',':', i[1])

user_name : sachin
user_age : 27
user_name : ram
user_age : 30
user_name : simran
user_age : 26
user_name : ravi
user_age : 25
user_name : priyanka
user_age : 24

In [ ]:
names = ['sachin', 'ram', 'simran', 'ravi', 'priyanka']
ages = [27, 30, 26, 25, 24]

In [12]:
 for i in zip (name,age):
    print('user_name',':',i[0])
    print('user_age',':', i[1])
    print('')

user_name : sachin
user_age : 27

user_name : ram
user_age : 30

user_name : simran
user_age : 26

user_name : ravi
user_age : 25

user_name : priyanka
user_age : 24

In [13]:
names = ['nitisha', 'tamanna', 'lokesh', 'rupal', 'priyanka']
age = [22, 21, 23, 22, 23]
course = ['python', 'aws', 'linux', 'devops', 'fullstack']

In [15]:
for i,j,k in zip(names,age,course):
    print(f'User_name: {i},\nUser_age: {j},\ncourse: {k}')

User_name: nitisha,
User_age: 22,
course: python
User_name: tamanna,
User_age: 21,
course: aws
User_name: lokesh,
User_age: 23,
course: linux
User_name: rupal,
User_age: 22,
course: devops
User_name: priyanka,
User_age: 23,
course: fullstack

In [19]:
a = [2,3,4,5]
b = [4,9,16,25,36]
c = [8, 27, 64, 125, 6**3]

In [20]:
for i in zip(a,b,c):
     print(i)

(2, 4, 8)
(3, 9, 27)
(4, 16, 64)
(5, 25, 125)

In [3]:
d1 = {'name' : 'alfez' ,'spouse' : 'single'}

In [4]:
d2 = {'position' : 'engineer' ,'city' : 'jaipur'}

In [7]:
 for  i in zip (d1,d2):
    print(i)

('name', 'position')
('spouse', 'city')

In [15]:
for i in zip(d2,[':hacker', ':delhi']):
     print(i,)

('position', ':hacker')
('city', ':delhi')

# enumerate() function
                                        enumerate function loop through the containers/iterable 
                                        and return an enumerate object. In the object it contains data
                                        in form of tuple, In tuple it stores index and value of element

In [22]:
l = ['ayan','alfez','aman','altoo']

In [24]:
for i  in enumerate(l):
    print(i)

(0, 'ayan')
(1, 'alfez')
(2, 'aman')
(3, 'altoo')

In [26]:
for i  in enumerate(l,-3):
    print(i)

(-3, 'ayan')
(-2, 'alfez')
(-1, 'aman')
(0, 'altoo')