## while loop

In [1]:
a=10

In [2]:
b=20

In [3]:
while a < b:
    print('hello world')
    a += 1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

### If the condition never become false in while loop than you will stuck in infinite loop.That's why it is also called infinite loop
### so be careful when you are using while loop.

In [8]:
i = 0

while i < 20:
    print('Python is awesome')
    i += 4

Python is awesome
Python is awesome
Python is awesome
Python is awesome
Python is awesome

In [9]:
i = 20

while i > 0:
    print(i)
    i -= 5

20
15
10
5

In [14]:
ls = [23,45,56,78,90,123,43,657,6]

In [16]:
n=int(input())
if  n  %2 ==0:
    print('even')
else:
    print('odd')

6
even

In [17]:
ls

[23, 45, 56, 78, 90, 123, 43, 657, 6]

In [21]:
i = 0

while i < len(ls):
    print(ls[i])
    i += 1

23
45
56
78
90
123
43
657
6

In [20]:
ls

[23, 45, 56, 78, 90, 123, 43, 657, 6]

In [25]:
i=0
while i<len (ls):
    print(ls[i]/2)
    i +=  1

11.5
22.5
28.0
39.0
45.0
61.5
21.5
328.5
3.0

In [26]:
i=0
while i<len (ls):
    print(ls[i]//2)
    i +=  1

11
22
28
39
45
61
21
328
3

In [27]:
ls1=[25,36,11,545,9,1,3,6,223,6]

In [39]:
i = 0
while i < len(ls1):
    if ls1[i] % 3 == 0  or ls[i] % 2 ==0:
        print(ls1[i], 'is divisible by 3 and 2')
    i += 1

36 is divisible by 3 and 2
11 is divisible by 3 and 2
545 is divisible by 3 and 2
9 is divisible by 3 and 2
3 is divisible by 3 and 2
6 is divisible by 3 and 2
223 is divisible by 3 and 2
6 is divisible by 3 and 2

In [40]:
ls1

[25, 36, 11, 545, 9, 1, 3, 6, 223, 6]

In [45]:
i = 0
while i < len(ls1):
    if ls1[i] % 3 == 0 or ls1[i] % 5 == 0:
        print(ls1[i])
    i += 1

25
36
545
9
3
6
6

In [9]:
ls1=[25,36,11,545,9,1,3,6,223,6]

In [10]:
while ls1:
    print(ls1)
    ls1.pop()

[25, 36, 11, 545, 9, 1, 3, 6, 223, 6]
[25, 36, 11, 545, 9, 1, 3, 6, 223]
[25, 36, 11, 545, 9, 1, 3, 6]
[25, 36, 11, 545, 9, 1, 3]
[25, 36, 11, 545, 9, 1]
[25, 36, 11, 545, 9]
[25, 36, 11, 545]
[25, 36, 11]
[25, 36]
[25]

In [19]:
ls = [23,45,56,78,90,123,43,657,6]

In [20]:
i=0
while ls:
    print(ls[i]/2)
    ls.pop()

11.5
11.5
11.5
11.5
11.5
11.5
11.5
11.5
11.5

In [23]:
ls1=[25,36,11,545,9,1,3,6,223,6]

In [27]:
new_ls0 = []

i = 0

while i < len(ls1):
    new_ls0.append(ls1[i]**2)
    i += 1
    
print('Old list: ', ls1)
print('New list: ',new_ls0)

Old list:  [25, 36, 11, 545, 9, 1, 3, 6, 223, 6]
New list:  [625, 1296, 121, 297025, 81, 1, 9, 36, 49729, 36]

In [8]:
ls=[25,36,11,545,9,1,3,6,223,6]

In [10]:
i=0
while i < len(ls):
    if ls[i] % 2 == 0:
        print(ls[i],'even number')
    else :
        print(ls[i],'odd number')
    i += 1

25 odd number
36 even number
11 odd number
545 odd number
9 odd number
1 odd number
3 odd number
6 even number
223 odd number
6 even number